<div class="main-container">
    <h1>Create a Bacon Blog Account</h1>

        <label for="email">Username:</label>
        <input type="text" id="name" value ='' required class="block w-100 no-outline no-border pad-1 mar-b-2">

        <label for="email">Email:</label>
        <input type="text" id="email" value='' class="block w-100 no-outline no-border pad-1 mar-b-2" required>

        <label for="password">Password:</label>
        <input type="text" id="password" value="" class="block w-100 no-outline no-border pad-1 mar-b-2" required>

    <button id="btn_sign_up" type="button" value="Create account" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">Create account</button>

</div>